form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

label{
    margin: 10px 0 5px;
}

input [type="number"], input[type="radio"],input[type="checkbox"] {
    margin-bottom: 15px;

}

button{
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;

}   

button:disabled{
    background-color: #ccc;
}